
.asset-page {
   margin: 0 1% 1% 1%;
}

.main-wrapper {
    display: block;
    padding-top: 65px;
}

.asset-main-wrapper {
    display: flex;
    margin: 0 auto;
    width: 1024px;
}

.asset-main-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.asset-content-wrapper {
    flex: 0 0 66.66%;
}

.asset-about {
    margin-bottom: 60px;
}

.about-div-div {
    padding-bottom: 16px;
    
}

.about-div {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: bolder;
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
}

.about-content {
    max-width: 570px;
    font-weight: 100;
    margin: 0 0 24px;
    line-height: 23px;
    letter-spacing: 0.7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.asset-header {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 64px;
    display: block;
    z-index: 100;
    background: white;
    top: 0;
}

.asset-nav {
    max-width: 100%;
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    line-height: 19px;
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;

}

.login-nav-logo-link {
    left: 48px;
    font-size: 17px;
    font-weight: bolder;

    position: absolute;
    margin-right: 0;
}

.asset-search {
    min-width: 160px;
    line-height: 19px;
    letter-spacing: 0.25px;
    flex-basis: 480px;
}

.searchbar {
    display: inline-block;
    align-items: center;
    max-width: 400px;
    position: relative;
}

.search-input {
    height: 36px;
    display: block;
    line-height: 34px;
    width: 400px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-left: 37px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.search-input::placeholder {
    font-size: 13px;
}

.search-input:hover {
    box-shadow: 0px 0px 11px rgba(0,0,0,0.2);
    border: none;
}

.drop-ul {
    padding: 0;
    padding-left: 3%;
    margin: 0;
    position: absolute;
    display: block;
    width: 97%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 1;
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.drop-li {
    display: flex;
    padding: 3%;
    width: 94%;
}

.drop-li:hover {
    background-color: #eee;
} 

.date-ranges {
    border-bottom: 1px solid #eee;
    display: flex;
}

.date-button {
    border: none;
    color: black;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 0 12px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 12px;
}

.oneday {
    border: none;
    color: black;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    margin-right: 12px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.date-button:hover {
    color: #21ce99;
    cursor: pointer;
}

.date-button:focus {
    color: #21ce99;
}

.sym-price {
    display: inline-block;
    width: 100px;
}

.asset-chart {
    font-family: 'Open Sans', sans-serif;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

.chart{
    display: block;
    margin-bottom: 44px;
}

.asset-sym {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    width: 700px;

}

.asset-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    width: 700px;
}

.buybox-wrapper {
    width: 275px;
}

.buy-wrapper {
    display: block;
    padding: 0 6px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.buybox-div {
    position: fixed;
    top: 95px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 275px;
}

.buybox {
    padding: 20px 20px 0 20px;
    width: 100%;
    box-shadow: 0 0 11px rgba(0,0,0,0.3);
    box-sizing: border-box;
    height: 100%;
    margin-left: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    border-radius: 4px;
}

.asset-form {
    font-size: 13px;
}

.asset-buy {
    width: 100%;
}

.buy-symbol {
    color: #21ce99;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #21ce99;
    display: inline-block;
    padding-bottom: 10px;
}

.shares {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
    margin-bottom: 15px;
    align-items: center;
}

.asset-input{
    height: 24px;
    border-radius: 4px;
    border: 1px solid #eee;
    width: 68px;
    text-align: right;
    padding-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

input[type=number] {
   -moz-appearance:textfield; 
}

.asset-input::placeholder {
    font-size: 12px;
}

.checkbox {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    font-weight: 100;
    margin-bottom: 12px;
}

.checkbox input {
    display: none;
}

.checkmark {
    display: block;
    height: 22px;
    width: 22px;
    background-color: #eee;
    margin-right: 10px;
    border-radius: 4px;
}

.checkbox:hover input ~ .checkmark {
  background-color: #eee;
}

.market {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
    margin-bottom: 15px;
}

.estimated {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
    // margin-bottom: 15px;
    border-top: 1px solid #eee;
}

.button-div {
    padding: 20px 0 0 0;
    height: 40px;
    margin-bottom: 20px;
}

.asset-buy {
    padding: 17px 0;
    color: white;
    background-color: #21ce99;
    border-radius: 4px;
    border: none;
}
.asset-buy:hover {
    background-color: #21ec99;
}

.buy-words {
    border-top: 1px solid #eee;
    padding: 20px 20px 20px 12px;
    align-content: center;
    display: flex;
}

.buying {
    margin-left: 5px;
    margin-right: -20px;

}

.res-sym {
    font-weight: bolder;
    width: 23%;
}

.res-name {
    max-width: 77%;
}

.home-button-wrapper {
    display: block;
    position: absolute;
    padding: 0 4px 0 6px;
    right: 127px;
}

.home-button-div {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;

}

.home-home {
    margin-right: 17%;
}

.home-home a{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    color: black;

}

.home-home a:hover {
    color: #21ec99;
}

.asset-header-button {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    color: black;
    min-width: 57px;
}

.asset-header-button:hover {
    color: #21ce99;
    cursor: pointer;
}

.news-section {
    margin: 0 -30px;
    padding: 30px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.news-picture-div {
    align-content: center;
    display: flex;
}

.news-picture {
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    flex-shrink: 0;
    width: auto;
    max-width: 196px;
    height: auto;
    max-height: 144px;
}

.news-section-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 24px;
    font-family: 'Open Sans', sans-serif;
    max-width: 460px;
}

.source-name-div {
    margin-top: -4px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.25px;
    color: black;
}

.headline-summary {
    font-size: 12.8px;
    margin: 4px 0;
    max-height: 14.8ex;
    max-width: 420px;
    overflow: hidden;
    display: block;
    color: black;
}

.headline-div {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 0;
}

