.main {
    margin: 0;
    padding: 0;
}

.greet-page {
    margin: 0 1% 1% 1%;
}


.greet-chart {
    display: flex;
    justify-content: center;
    margin: 37px 0 0 0;

}

.stocks {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 18px 24px 12px 24px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.sidebar-div {
    position: relative;
}

.sidebar-holder {
    position: fixed;
}

.sidebar {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    height: 100%;
    margin-right: 3%;
}

.header-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: black;
    min-width: 57px;
    border: none;
}

.header-button:hover {
    color: #21ce99;
}

.personal-holder {
    width: 100%;
    min-width: 280px;
    box-shadow: 0 0 11px rgba(0,0,0,0.1);
    box-sizing: border-box;
    height: 100%;
    margin-left: 9%;
    border-radius: 5px;
    max-height: 85vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.personal-asset {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 13px 23px;
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    cursor: pointer;
    align-items: center;
    align-content: center;
}

.personal-asset:hover {
    background-color: rgba(0,0,0,0.03);
}

.p-asset-chart {
    margin-right: 3%;
    margin-left: -17%;
}

.p-key {
    font-size: 13px;
    margin-right: 10px;
}

.p-quantity {
    display: flex;
    font-size: 12.5px;
    color: rgb(107, 107, 107);
    margin-left: 5px;
    margin-right: 5px;
}
.p-shares {
    padding: 0;
    margin: 0 0 0 3px;

}

.p-price {
    color: black;
    font-size: 15px;
    font-weight: 100;
}

.minichart {
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px;
}

.mag {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #ccc;
}

.changes {
    margin-left: 7%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 13px;

}

.port-change {
    margin-right: 10px;
}

.word-holder {
    border-bottom: 1px solid #eee;
}