.main {
    margin: 0;
    padding: 0;
}

.greet-page {
    margin: 0 1% 1% 1%;
}


.greet-chart {
    display: flex;
    justify-content: center;
    margin: 37px 0 0 0;
}

.sidebar {
    font-family: 'Open Sans', sans-serif;
    margin-right: 7%;
    list-style: none;
    height: 100%;
}

.header-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: black;
    min-width: 57px;
    border: none;
}

.header-button:hover {
    color: #21ce99;
}

.port-val, .buying-power {
    margin-left: 7%;
    font-size: 37px;
    font-family: 'Open Sans', sans-serif;
    color: #21ce99;
}

.port-holder {
    margin-top: 17px;
}

.personal-holder {
    width: 270px;
    box-shadow: 0 0 11px rgba(0,0,0,0.1);
    box-sizing: border-box;
    height: 100%;
    margin-left: 9%;
}

.personal-asset {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    align-items: center;
    align-content: center;
}

.personal-asset:hover {
    background-color: rgba(0,0,0,0.03);
}

.p-asset-chart {

}

.p-key {
    font-weight: bolder;
}

.p-quantity {
    display: flex;
    font-size: 13px;
}
.p-shares {
    padding: 0;
    margin: 0 0 0 3px;

}

.p-price {
    color: #21ce99;
}

