.account-holder {
    display: none;
    outline: none;
}

.show {
    display: block;
}

.home-home {
    z-index: 10;
}

.dropdown-home-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    color: black;
}

.dropdown-home-link:hover {
    cursor: pointer;
    color: #21ce99;
}

.dropdown-home-link:focus-within {
    border-bottom: 2px solid #21ce99;
}

/* .dropdown-home-link:focus-within input{
    border-bottom: 2px solid;

} */
/* .buy-input:focus {
    border-bottom: 2px solid;
} */



.dropdown-div {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 0;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 0px 0px 11px rgba(0,0,0,0.2);
}

/* .dropdown-div:focus-within > input {
    border-bottom: 2px solid;
}

.dropdown-div input:focus {
    border-bottom: 2px solid;
}

.transaction-holder {
    border-bottom: 2px solid;
} */

.number-holder {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.value-holder {
    padding: 0 20px;
}

.buy-holder {
    padding: 0 20px;
}

.buy-input {
    margin: 10px 20px;
    overflow: hidden;
    outline: none;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0;
    padding-left: 10px;
    height: 30px;
    line-height: 28px;
}

.logout-section {
    padding: 16px 20px;
}


.logout:hover {
    background-color: #eee
}

.bank-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.port-val, .buying-power {
    margin-left: 7%;
    font-size: 37px;
    font-family: 'Open Sans', sans-serif;
}

.port-holder {
    margin-top: 16px;
}

.makebelieve {
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bank-of {
    margin-left: 40px;
}

.amount-words {
    padding: 10px 20px 10px 20px;
    height: 20px;
}

.transaction-holder {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.drop-port-val {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.deposit {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}

.transfer-button {
    width: 100px;
    margin: 0 auto;
}

.transfer-button {
    padding: 12px 66px;
    color: white;
    background-color: #21ce99;
    border-radius: 5px;
}
