
.body{
    margin: 0;
}

.splashPage {
    margin: 0 1% 0 1%;
}

.splash-nav-wrapper {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100000;
    background: white;
}

.splash-nav {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}
.splash-auth {
    display: flex;
    align-items: center;
}

.splash-log {
    margin: 0 12px 0 12px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.splash-log:hover {
    color: #21ce99;
}
.splash-sign {
    color: #fff;
    -webkit-box-pack: center;
    background-color: #21ce99;
    margin: 0 12px 0 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0 48px;
    height: 48px;
    font-weight: bolder;
    border-radius: 36px;
    width: 60px;
    justify-content: center;
    font-size: 17px;
    letter-spacing: 0.2px;
    padding: 0 24px;
    font-size: 15px;
    line-height: 17px;
    transition: box-shadow 300ms;
    border-right: 5px;
}

.splash-sign:hover {
    background: #189c75
}

.logo-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.logo-link:hover {
    color: #189c75
}

.top-main-splash {
    background: url("two-phones.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 70px;
}

.top-main {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    margin: 0 2% 0 2%;
}

.top-main-content {
    width: 25%;
    height: 100vh;
    padding: 290px 0 0;
}

.main-big {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 76px;
    letter-spacing: -0.02em;
}

.comission-free {
    position: absolute;
    line-height: 41px;
}

.main-small {
    display: block;
    margin-bottom: 36px;
    font-size: 15px;
    position: absolute;
    width: 30%;
    box-sizing: border-box;
    line-height: 1.7;
}

.main-sign > .splash-sign {
    margin-top: 110px;
    margin-bottom: 17px;
    margin-left: 0px;
}

.comission {

    color: #21ce99;
    font-weight: 505;
    display: flex;
    position: absolute;
    width: 30%;
    box-sizing: border-box;
}