
.body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.splashPage {
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper-wrapper {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100000;
    background: white;
    padding: 0.7% 0;
    margin: 0;
}

.splash-nav-wrapper {
    display: flex;
    justify-content: center;
    z-index: 100000;
}

.splash-nav {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: space-between;
    width: 1192px;
}

.github {
    font-size: 15px;
    font-weight: bolder;
    color: #24292e;
    margin-left: 3px;
}

.linkedin {
    color: #24292e;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 30px;
}

.github:hover {
    color: #5a6672
}

.linkedin:hover {
    color: #0077B5;
}


.splash-auth {
    display: flex;
    align-items: center;

}

.splash-log {
    margin: 0 12px 0 12px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 45px;
}

.splash-log:hover {
    color: #21ce99;
}

.splash-sign {
    color: #fff;
    -webkit-box-pack: center;
    background-color: #21ce99;
    margin: 0 12px 0 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0 48px;
    height: 48px;
    font-weight: bolder;
    border-radius: 36px;
    width: 61px;
    justify-content: center;
    font-size: 17px;
    letter-spacing: 0.2px;
    padding: 0 24px;
    font-size: 15px;
    line-height: 17px;
    transition: box-shadow 300ms;
    border-right: 5px;
}

.logo-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-right: 70px;
    color: #24292e;
}

.logo-link:hover {
    color: #21ce99;
}

.middle-nav {
    width: 700px;
}

.personal {
    font-size: 15px;
    font-weight: bolder;
    margin-left: 30px;
    color: #24292e;
}

.personal:hover {
    color: rgb(83, 178, 255);
}

.top-main-content {
    width: 310px;
}

.main-splash-wrapper {
    margin-right: -130px;
    display: flex;
    justify-content: center;
    width: 920px;
}

.top-main-splash {
    background-size: contain;
    background-repeat: no-repeat;
    height: 720.5px;
    display: flex;
    margin-top: 70px;
}

.main-wrapper {
    margin-bottom: 60px;
}

.top-main {
    display: flex;
    position: relative;
    width: 1192px;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    -webkit-box-pack: center;
}

.top-main-content {
    width: 310px;
    padding: 290px 0 0;
    flex: 0 0 310px;

}

.main-big {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 76px;
    letter-spacing: -0.02em;
}

.comission-free {
    position: absolute;
    line-height: 41px;
}

.main-small {
    display: block;
    margin-bottom: 36px;
    font-size: 15px;
    position: absolute;
    width: 272.5px;
    box-sizing: border-box;
    line-height: 1.7;
}

.main-sign > .splash-sign {
    margin-top: 110px;
    margin-bottom: 17px;
    margin-left: 0px;
}

.splash-sign:hover {
    box-shadow:  0 7px 7px 0 rgba(0,0,0,0.19);
}

.comission {
    font-size: 13px;
    color: #21ce99;
    font-weight: 505;
    display: flex;
    position: absolute;
    width: 30%;
    box-sizing: border-box;
}

.question {
    margin-left: 3px;
}

@-webkit-keyframes fader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.top-main-splash {
  -webkit-animation: fader 3s none;
  -moz-animation:    fader 3s none;
  -o-animation:      fader 3s none;
  animation:         fader 3s none; 
}

@media only screen and (max-width: 990px) {
    .top-main {
        display: block;
    }

    .splash-nav {
        justify-content: space-between;
    }

    .github, .linkedin, .app{
        display: none;
    }

    .top-main-content {
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 100px;
        height: 250px;
    }

    .comission-free {
        position: static;
    }

    .main-big {
        margin-bottom: 45px;
    }

    .main-small {
        position: static;
        margin: auto;
        width: 272.5px;
    }

    .main-sign > .splash-sign {
        margin-top: 30px;
        margin-right: 0;
    }

    .comission {
        position: static;
        margin: auto;
        text-align: center;
        width: 167px;

    }
}

// splash cat

.cat-div {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.cat-wrapper {
    width: 1192px;
    margin-bottom: 90px;
    position: relative;
}

.splash-cat {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    background: black;
    align-content: center;
    width: 100%;
}

.cash {
    color: white;
    font-size: 34px;
    width: 360px;
    line-height: 38px;
    font-weight: bolder;
    letter-spacing: 0.34px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 40px;
    bottom: 130px;
}

.filler-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.filler-holder {
    width: 1192px;
    display: block;
}

.filler-holder-holder {
    display: flex;
    justify-content: space-between;
}

.filler-component {
    font-family: 'Open Sans', sans-serif;
    flex-basis: 210px;
    margin-left: 12px;
    margin-right: 12px;
    flex-shrink: 1;
    flex-grow: 1;
}

.filler-component-img {
    margin-bottom: 48px;
}

.filler-img {
    max-width: 100%;
}

.filler-component-title {
    margin-bottom: 18px;
}

.filler-title {
    line-height: 36px;
    font-size: 28px;
    font-weight: 900;
}

.filler-component-description {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 26px;
}

.filler-component-learn {
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    color: #21ce99;
}

.manual-div {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.manual-holder {
    width: 1192px;
    display: block;

}

.manual-holder-holder {
    height: 700px;
    display: flex;
}

.manual-image-div {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manual-image-holder {
    width: 649px;
    display: block;
}

.white-phone {
    max-width: 100%;

}

.manual-content-div {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.manual-content-holder {
    max-width: 396px;
    padding: 24px 0;
    display: block;
}

.manual-content-title {
    margin-bottom: 26px;
    font-size: 23px;
    font-weight: bold;
    line-height: 49px;
    margin: 0;
    letter-spacing: -0.02em;
}

.manual-content-description {
    font-size: 16px;
    line-height: 26px;
}

.next-div {
    background: black;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}


.next-holder-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.next-holder-holder-div {
    width: 1192px;
    display: block;
}

.next-component-div {
    height: 600px;
    display: flex;
    flex-direction: row;
}

.next-img-div {
    max-width: 50%;
    display: flex;
}

.next-img-holder {
    width: 1000px;
    display: block;
    margin-left: -300px;
}

.many-phones {
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 110%;
    margin-top: -339px;
}

.next-content-div {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-content-holder {
    padding: 64px 0;
    max-width: 460px;
    display: block;
}

.next-content-title {
    margin-bottom: 36px;
    font-size: 23px;
    color: white;
    font-weight: bold;
    line-height: 49px;
    margin: 0;
    letter-spacing: -0.02em;
}

.next-content-description {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.nextr-learn-more {
    margin-bottom: 36px;
}